body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  background:linear-gradient(pink,aqua)
  }
  .timer{
  color: white;
font-size:56px;
font-weight: bolder;
border:5px solid white;
padding:50px;
border-radius:50%;
  }